// Import site-specific CSS files here.
@import "show";
@import "edit";

.conteneur-dev{
  display:flex;
}

.description-dev {
  background:white;
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:20px;
  border-radius:3px;
}

.info-dev{
  padding:1px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

  img{
    border-radius:3px;
    height:350px;
    width:225px;
  }
  img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
  ul{
  margin-top:5px;
  padding:10px;
  background:white;
  list-style-type:none;
  }
}

.realisation{
  display:flex;
  justify-content:center;
  background:white;
  border-radius:3px;
  margin-bottom:20px;
}

@media all and (max-width: 800px){
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  .conteneur-dev{
    flex-direction:column;
  }
}

@media all and (max-width: 400px){

  .conteneur-dev{
    h1{
      font-size:28px;
    }
  }
  .realisation{
    h2{
      font-size:25px;
    }
  }
}
