// Import site-specific CSS files here.
@import "show";

.description-dev {
  background:white;
  padding:10px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:3px;
}

.realisation{
  display:flex;
  justify-content:center;
  background:white;
  border-radius:3px;
  margin-bottom:20px;
}
