.conteneur{
  margin:25px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


.card h1{
  font-size:28px;
  color:#fe8400;
}

.button{
  margin:5px;
}
.card-body p{
  color:#fe8400;
}
.card-text{
  width:280px;
  overflow: auto;
}

.card-title{
  width:280px;
  overflow: auto;
}
