.card {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 70vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  margin:1px;
  border-radius:5px;
}
.card:hover{
  box-shadow:2px 2px 2px #fe8400;
}

.card-description{
  text-shadow:2px 2px 2px #fe8400;
  height: 70vh;
  width:350px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;  margin:1px;
  justify-content:center;
  align-items:center;
  h2{
    font-size: 35px;
  }
  p{
    font-size: 20px;
  }
}

.article-site{
  padding:20px;
  overflow: auto;
  p {
    color:white;
  }
}

.into-card-description{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
  overflow: auto;
  a{
    color:white;
  }
}

