.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  z-index:1;
  transition:0.5 background-color ease;
}

.navbar-lewagon-transparent{
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  background-color:white;
  margin-right:5px;
}

.avatar{
  height:41px;
}
